* {
    margin: 0;
    padding: 0;
}

header {
    background-color: red;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

a, li {
    color: white;
    text-decoration: none;
    list-style: none;
    margin-right: 35px;

}

h1 {
    text-align: center;
    color: rgb(240, 237, 230);
    padding-top: 20px;
}

.logo {
    width: 225px;
    margin-right: 800px;
}