* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url("https://garden.spoonflower.com/c/5199352/p/f/m/2pd8Iw2-tr4lENfHO_k_tNwJ4avFn-5LR5RXNS0JOKSv3EPV9jwGuMF3Av4/little%20prince's%20crowns%20-%20yellow%20on%20aqua.jpg");
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

a, li {
    color: rgb(38, 37, 37);
    text-decoration: none;
    list-style: none;
    margin-right: 35px;

}

.colormenu {
    color: rgb(27, 27, 75);
    font-weight: bold;
    text-decoration: underline;
}

h1 {
    text-align: center;
    color: rgb(38, 37, 37);
    padding-top: 20px;
}

