* {
    margin: 0;
    padding: 0;
}


h2,h3 {
    text-align: center;
}

.speakers {
    display: flex;
    flex-direction: column;
}

.maClasse{
    background-color: aqua;

}

.maClasseActive{
    background-color: pink;

}